*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    width: 100%;
    
}
.navbarLink{
    display: flex;
     
}
.findoutLink{
    padding-right: 10px;
    font-size: 15px;
    font-weight: 450;
    
    margin-left: 20%;
    width: 100%;
    margin-top: 45px;
    margin-right: 20%;
        /* Ngăn văn bản bị xuống dòng */
         
    
}
 
.aboutLink{
     padding-right: 20px;
     font-size: 15px;
     width: 100%;
     margin-left: 20%;
     margin-top: 45px;
    
    padding-right: 20px;
}
.customLink{
    width: 100%;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 45px;
    
}
.shopName{
    margin-left: 250px;
}
.shopName > h2 {
    font-size: 50px;
    margin-top: 10%;
    padding-right: 150px;
}
.searchWrapper{
    margin-left: 100px;
     margin-top: 3%;
    display: flex;
}
.inputSearch{
    display: none;
    // width: 20px;
    // height: 20px;
}
.inputWrapper{
    display: flex;

}
.ShoppingWrapper{
    margin-left: 60px;
    position: relative;
    margin-top: 35px;
}
.shoppingAmount{
    text-align: center;
    position: absolute;
    bottom: 55px ;
    left: 30px;
    align-items: center; 
    padding-bottom: 3px;
    background-color: aqua;
    border-radius: 50%;
    width: 20px;
}
.iconShopping{
    font-size: 30px;
}
.iconSearch{
    font-size: 10px;
     
}
.iconSearch >img{
     margin-top: 20%;
    
}
.search_btn{
    margin-top: 6px;
    padding-right: 50px;

}
.search_btn > img{
    font-size: 10%;
}
.avatarWrapper{
     margin-top: 20px;
}
.onlineSignal{   
}
.avatarHi{
     
}
.dashIconWrapper > img{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 40px;
}